/* @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Permanent+Marker&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Mali:wght@700&family=Permanent+Marker&display=swap');


.font-linkListTopic {
	/* font-family: 'Fredericka the Great', cursive;*/
	color: rgb(3, 68, 61); 
	font-family: 'Kranky', cursive;
}

.font-link {
	/* font-family: 'Fredericka the Great', cursive;*/
	color: rgb(3, 68, 61); 
	font-family: 'Mali', cursive;
}

/* Auth css */
.Auth {
	position: relative;
	background: url('./assets/ironhackers.avif');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.background-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}

.background-overlay-landing{
	background-color: rgba(193, 234, 221, 0.5);
	border-radius: 20px;
}

.h1overlay {
	background-color: rgba(0, 16, 68, 0.5);
	border-radius: 20px;
}

.Auth-form {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.Auth-form form {
	width: 25%;
}

.Auth-form h1,
.Auth-form h3,
.Auth-form p {
	color: white;
}

.spinner-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

body{
	position: relative;
	background: url('./assets/110342-beige-blurred-background-vector.webp');
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 100vh; */
}

.cardOneLesson{
	border-width:2px; 
}

.btn-floating {
	/* position: fixed; */
	/* right: 3rem;
	bottom: 3rem; */
	background: transparent;
	border: none;
	padding-top: 0;
}

.post-button {
	padding-top: 0;
	background: transparent;
	border: none;
}

